<div class="space">
    <div class="mars"></div>
    <img src="https://assets.codepen.io/1538474/404.svg" class="logo-404" />
    <img src="https://assets.codepen.io/1538474/meteor.svg" class="meteor" />
    <p class="title">Oh no!!</p>
    <p class="subtitle">
        O estás escribiendo mal la URL <br /> o estas solicitando una página que ya no existe.
    </p>
    <div style="text-align: center;">
        <a class="btn-back" [routerLink]="[ '/']">Regresar a la página de inicio</a>
    </div>
    <img src="https://assets.codepen.io/1538474/astronaut.svg" class="astronaut" />
    <img src="https://assets.codepen.io/1538474/spaceship.svg" class="spaceship" />
</div>

