<div class="row animated fadeIn" >
    <div class="col-md-6">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Formulario de registro de Notificaciones</h3>
            <p class="text-muted m-b-30 font-13"> Registrar notificación web {{modalUploadService.hide}}</p>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form #f="ngForm" ngNativeValidate  (ngSubmit)="saveNotification(f)" >
                        <div class="form-group">
                            <label>Titulo</label>
                            <input [(ngModel)]="notification.title" name="title"  type="text" class="form-control"  placeholder="Titulo de la notificación" requiired>
                        </div>
                        <div class="form-group">
                            <label>Descripción</label>
                            <textarea [(ngModel)]="notification.description" name="description" class="form-control" rows="5" placeholder="Descripcion de la notificación"></textarea>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input [(ngModel)]="notification.date" name="date" type="date" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Tipo</label>
                            <select [(ngModel)]="notification.type" name="type" class="form-control" required>
                                <option value="0" >Seleccionar un tipo</option>
                                <option *ngFor="let type of types" [value]="type.value" > 
                                    {{type.viewValue}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="checkbox checkbox-success">
                                <input [(ngModel)]="notification.active" name="active" type="checkbox" >
                                <label for="checkbox1"> Activo </label>
                            </div>
                        </div>
                        
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                            <i class="fa fa-save" ></i>
                            Guardar
                        </button>
                        <button routerLink="/notifications" class="btn btn-inverse waves-effect waves-light">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6" *ngIf="notification._id"  >
        <div class="card card-body">
            <h4 class="box-title m-b-0" >Imagen Publicada</h4>
            <img (click)="changePhoto()" [src]="notification.image | image: 'notification'" class="img img-fluid pointer">
        </div>
    </div>

    
</div>
