<div class="balck-cover animated fadeIn" [ngClass]="modalUploadService.hide ">

<div class="modal" style="display: block;" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Cargar una imagen</h5>
          <button (click)="closeModal()"  type="button" class="close"  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center "  >

            <img *ngIf="!imageTemp" [src]="'x' | image" class="w150" alt="">
            <img *ngIf="imageTemp" [src]="imageTemp" class="w150" alt="">
            <input (change)="selectImage($event.target.files[0])" type="file">
        
        
        </div>
        <div class="modal-footer">
          <button (click)="uploadImage()" [disabled]="!imageTemp"  type="button" class="btn btn-primary">Subir imagen</button>
          <button (click)="closeModal()" type="button" class="btn btn-secondary" >Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>