<div class="row animated fadeIn" >
    <div class="col-md-6">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Formulario de registro de Categorías</h3>
            <p class="text-muted m-b-30 font-13"> Registrar categorías de las publicaciones web</p>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form #f="ngForm" ngNativeValidate  (ngSubmit)="saveCategory(f)" >
                        <div class="form-group">
                            <label>Titulo</label>
                            <input [(ngModel)]="category.name" name="name"  type="text" class="form-control"  placeholder="Nombre de la categoría" requiired>
                        </div>
                        <div class="form-group">
                            <label>Descripción</label>
                            <textarea [(ngModel)]="category.description" name="description" class="form-control" rows="5" placeholder="Descripcion de la categoría"></textarea>
                        </div>
           
                        <button type="submit" class="btn btn-primary waves-effect waves-light m-r-10">
                            <i class="fa fa-save" ></i>
                            Guardar
                        </button>
                        <button routerLink="/categories" class="btn btn-inverse waves-effect waves-light">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
   

    
</div>

