/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#themecolors a {
    cursor: pointer;
}

.topbar .top-navbar .navbar-header {
    line-height: 70px;
}

.pointer {
    cursor: pointer;
}

.w150 {
    width: 150px;
}

.w70 {
    width: 70px;
}
.img-50 {
    width: 50px;
}



.balck-cover {
    background-color: rgba($color: #000000, $alpha: 0.4);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
}
.card .card-subtitle {
    font-size: 0.8em!important;
}